.site-2 {
    display: grid;
    margin-left: 20px;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:576px) {
    .site-2 {
        display: grid;
        margin-left: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .site-2 {
        display: grid;
        margin-left: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.matches {
    height: 250px;
    margin: 15px;
    border: 1px solid wheat;
    border-radius: 20px;
}

.match {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/* .matches .match {} */

.match img {
    width: 100%;
    padding: 10px;
}

.match p {
    font-weight: 700;
}

.match-title .match-time {
    color: rgba(0, 0, 0, 0.521);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.match-title .match-time_1 {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}